@font-face {
  font-family: Barlow-SemiBold;
  src: url(../styles/fonts/Barlow-SemiBold.ttf) format("truetype");
}

.menu-wrapper {
  background-color: #252730;
  max-width: 100%;
}

.h2 {
  color: white;
  position: relative;
  top: 10px;
  left: 5px;
  font-family: Barlow-SemiBold;
}

.menu-items-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 0px 50px 0px;
  text-align: center;
  /* flex-wrap: wrap; */
  color: white;
}

/* mobilscreen
@media only screen and (max-width: 400px) {
  .menu-wrapper {
    max-width: 100%;
  }
  .h2 {
    text-align: center;
    position: relative;
    left: 0px;
  }
  .menu-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
} */
