* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Barlow-Medium;
	src: url(../styles/fonts/Barlow-Medium.ttf);
}

.invisble {
	display: none;
}

.wrapper {
	background-color: #1f1d2b;
}

.h2 {
	color: white;
	font-family: Barlow-Regular;
	padding: 1.5rem;
}

.options-buttons__wrapper {
	display: flex;
	flex-direction: row;
	padding: 1rem;
}

.cart-details-titles__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	color: #fafafa;
	font-size: 1.2rem;
	font-family: Barlow-SemiBold;
	text-align: center;
	padding: 2rem;
	border-bottom: 1px solid rgb(57, 60, 73);
}

.cart-details-titles__1 {
	margin-right: auto;
}

.cart-details-titles__2 {
	margin-right: 10%;
}

.orders {
	padding: 10rem 1rem;
	border-bottom: 1px solid rgb(57, 60, 73);
	font-family: Barlow-SemiBold;
	color: white;
}

.bottom__wrapper {
	display: flex;
	flex-direction: row;
	color: #fafafa;
	padding: 1.5rem;
}

.left {
	font-family: Barlow-Regular;
	font-size: 1.1rem;
	color: #abbbc2;
	line-height: 140%;
}

.right {
	font-family: Barlow-Medium;
	margin-left: auto;
	line-height: 140%;
	color: #ffffff;
}
